APScheduler==3.10.3
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2
django-compat==1.0.15
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
idna==3.4
numpy==1.25.2
Pillow==10.0.0
PyJWT==2.8.0
pytz==2023.3
requests==2.31.0
schedule==1.2.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4