[Unit]
Description=Inviseo box service django

[Service]
Type=simple
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
ExecStart=/bin/bash -c /var/www/pyscada_lite/scripts/runserver_as_root.sh 

[Install]
WantedBy=multi-user.target